<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application">
            <directory>test/Application</directory>
        </testsuite>
        <testsuite name="Modules/RestApi">
            <directory>Modules/RestApi/test</directory>
        </testsuite>
        <testsuite name="Modules/Base">
            <directory>Modules/Base/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="FILE_LOGGER_FILE_NAME" value="file_logger.log"/>
        <env name="FILE_LOGGER_FILE_DIR_PATH" value="/Modules/RestApi/test/Logger/"/>
    </php>
</phpunit>
