<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application">
            <directory>test/Application</directory>
        </testsuite>
        <testsuite name="Modules/RestApi">
            <directory>Modules/RestApi/test</directory>
        </testsuite>
    </testsuites>
</phpunit>