<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="ApplicationTest">
            <directory>Application/test</directory>
        </testsuite>
        <testsuite name="Modules/RestApi">
            <directory>Modules/RestApi/test</directory>
        </testsuite>
        <testsuite name="Modules/Base">
            <directory>Modules/Base/test</directory>
        </testsuite>
        <testsuite name="Modules/Terminal">
            <directory>Modules/Terminal/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="FILE_LOGGER_FILE_NAME" value="file_logger.log"/>
        <env name="FILE_LOGGER_FILE_DIR_PATH" value="/Modules/RestApi/test/Logger/"/>
        <env name="FILE_LOGGER_FILE_NAME" value="file_logger.log"/>
        <env name="DATABASE_ADDRESS" value="192.168.33.10:27017"/>
        <env name="DATABASE_NAME" value="framework-test"/>
        <env name="PRIVATE_MAIL_FROM" value="no-reply@the-shop.hr" />
        <env name="SLACK_TOKEN" value="123456" />
        <env name="WEB_DOMAIN" value="test-theshop" />
    </php>
</phpunit>
